<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>로그인 페이지</title>
    </head>   
    <body>
     <div class="main">
      <div class="body">
       <form action="/login_user" method="post">

        <h1>로그인하기</h1> <br>

        <div class ="text">
         아이디 :
        </div>
         <input type="text" id="login_id" name="login_id"><br>
                    
        <div class= "text">
         비밀번호 :
        </div>
         <input type="password" id="login_pw" name="login_pw">
        <br><br>

        <input type="submit" value = "로그인"> <input type="button" value ="회원가입" onclick="location.href='/'">
                    
    </form>
    </div>
    </div>
</body>
</html>